aiogram
python-dotenv
apscheduler
asyncpg
groq
google-generativeai
curl_cffi
cloudscraper
beautifulsoup4
lxml
googlesearch-python
fake-useragent
requests
httpx
urllib3
certifi
charset-normalizer
idna
